* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../../../assets/img/mic-laptop-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  color: #1DB954;
} 